/****************
    GLOBAL
*****************/
/*Default styles (Mobile First max-width ~768px) */
#settings-cog{
    display:none;
    line-height:18px;
}

body{
    padding-top: 50px; /* Used to prevent overlap of nav bar*/
	background-color: #9bbfdb;
}

h1, h2, h3{
    color:white;
}

.page-header{
    text-align:center;
}

.panel:not(.panel-info) > .panel-heading:hover{
    background-color:#eee;
}

.panel:not(.panel-info):hover{
    border-color:#eee;
}

.menu-heading{
    padding:0px;
}

.menu-item{
    padding:5px
}

.panel-header{
    display:block;
    margin-left: auto;
    margin-right: auto;
    color:#505459;
    text-decoration:none;
}

.panel-header:hover, .panel-header:focus{
    text-decoration:none;
    color:#505459;
}

.tree-toggler.nav-header{
    color:#777;
    font-weight:200;
}

.tree-toggler.nav-header:hover{
    color:#1c1818;
}

.nav.nav-list li a{
    color:#777;
}
/*********************
    LEFT SIDEBAR MENU 
**********************/

#left-sidebar-menu-header{
    width:100%;
    padding-top:20%;
}

#case-record-button{
    width:100%;
    white-space:normal;
}

.main-menu-panel{
    padding-top:10px;
}

.context-menu{
    color:white;
    position:relative;
    display:block;
    margin-top:10%;
}

/******************************
    MAIN CONTENT
 ******************************/
.main-content{

}

/******************************
    MEDIA QUERIES
 ******************************/

/* Mobile phones in landscape or smaller tablets. (min-width ~768px) */
@media screen and (min-width: 48em) {
    #settings-header{
        display:none;
    }

    #settings-cog{
        display:block;
    }

    #navbar-container.container-fluid {

    }

    .col-md-8.col-md-offset-2{
        padding-left:0px;
        padding-right:0px;
    }
}

/* Medium tablets and up. (min-width ~1280px) */
@media screen and (min-width: 80em) {
        
    #navbar-container.container-fluid {
        padding-left:16px;
        padding-right:16px;
    }

    .col-md-8.col-md-offset-2{
        padding-left:16px;
        padding-right:16px;
    }
}
