.attendance-heading{
    padding:0px;
    text-align:center;
}

.attendance-title{
    display:table;
    width:100%;
}

.attendance-table{
    display:table;
    width:100%;
}

.attendance-row{
    display:table-row;
}

.attendance-cell{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    padding:10px;
}

.consumer-select-checkbox{
    width:5%;
}

.present-button{
    width:8%;
}

a.panel-title {
    text-decoration: none;
    cursor: pointer; 
}

.time-group{
    padding-bottom:5px;
    padding-top:5px;
}

.input-group-addon.time-label{
    min-width: 87px;
}

.bootstrap-timepicker .timepicker.form-control{
    min-width:87px;
    height:30px;
    text-align:center;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

html, body, .wrapper {
  height: 100%;
}

html {
  overflow-x: hidden;
}

.navbar-toggle{
    padding:8px;
    margin-left:15px;
}

#side-menu-toggle {
    float:left;
}

#static-menu-toggle {
    float:right;
}

#company-brand{
    display:block;
    overflow:hidden;
    margin-left:auto;
    margin-right:auto;
}

/******************************
    MEDIA QUERIES
 ******************************/

/* Mobile phones in landscape or smaller tablets. (min-width ~768px) */
@media screen and (min-width: 48em) {

}

/* Medium tablets and up. (min-width ~1280px) */
@media screen and (min-width: 80em) {
        
    .row{
        padding-top:10px;
        padding-bottom:10px;
    }

    .time-group{
        padding-bottom:0px;
        padding-top:0px;
    }
}

@media screen and (max-width: 767px) {

    /* outer div */
    .row-offcanvas {
        position: relative;
    }

    /* sidebar */
    .sidebar-offcanvas {
        left: -80%;
        width: 80%;
        position: absolute;
        top: 0;
        background-color: #3B3B3B;
        padding: 0;
        height: 100%;
    }

  /* content */
    .row-offcanvas.active {
        left: 80%;
    }

    .row-offcanvas {
        position: relative;
        left: 0;
        -webkit-transition: left .3s ease-in;
        -most-transition: left .3s ease-in;
        transition: left .3s ease-in;
  }
}