<div class="main-menu-panel panel-group" id="accordion">

    <div class="panel panel-default">
        <div class="menu-heading panel-heading">
            <a class="menu-item panel-header" data-toggle="collapse" data-parent="#accordion" href="#individualMenu">
                Person
            </a>
        </div>
        <div id="individualMenu" class="panel-collapse collapse">
            <div class="panel-body">
                <ul class="nav nav-list">
                    <li>
                        <label class="tree-toggler nav-header">Forms</label>
                        <ul style="display: none;" class="nav nav-list tree">
                            <li><a href="#">New Individual</a></li>
                            <li><a href="#">View/Update Individual</a></li>
                            <li><a href="#">Attach a File</a></li>
                            <li><a href="#">New Consent For Release</a></li>
                            <li><a href="#">View/Update Consent For Release</a></li>
                            <!--<li>
                                <label class="tree-toggler nav-header">Header 1.1</label>
                                <ul style="display: block;" class="nav nav-list tree">
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                    <li>
                                        <label class="tree-toggler nav-header">Header 1.1.1</label>
                                        <ul style="display: block;" class="nav nav-list tree">
                                            <li><a href="#">Link</a></li>
                                            <li><a href="#">Link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>-->
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <label class="tree-toggler nav-header">Reports</label>
                        <ul style="display: none;" class="nav nav-list tree">
                            <li><a href="#">Facesheet</a></li>
                            <li><a href="#">Individual Summary</a></li>
                            <li><a href="#">Informed Consents</a></li>
                            <li><a href="#">Consent For Release</a></li>
                            <li><a href="#">Current Medications</a></li>
                            <li><a href="#">Medical Summary</a></li>
                            <li><a href="#">Medical Appointment Note</a></li>
                            <li><a href="#">Medical Consultation</a></li>
                            <li><a href="#">Medication Sheet</a></li>
                            <li><a href="#">Appointment Transportation</a></li>
                            <li><a href="#">Group Medication Sheets</a></li>
                            <li><a href="#">Medication Summary</a></li>
                            <li><a href="#">Calendar</a></li>
                            <li><a href="#">Staff Roster</a></li>
                            <li><a href="#">Job Placement</a></li>
                            <li><a href="#">Employment Summary</a></li>
                            <li><a href="#">Face Sheet</a></li>
                            <li><a href="#">Ready To Go</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div> <!-- INDIVIDUAL MENU -->

    <div class="panel panel-default">
        <div class="menu-heading panel-heading">
            <a class="menu-item panel-header" data-toggle="collapse" data-parent="#accordion" href="#intakeMenu">
                Intake
            </a>
        </div>
        <div id="intakeMenu" class="panel-collapse collapse">
            <div class="panel-body">
                Test Text.
            </div>
        </div>
    </div> <!-- INTAKE MENU -->

    <div class="panel panel-default">
        <div class="menu-heading panel-heading">
            <a class="menu-item panel-header" data-toggle="collapse" data-parent="#accordion" href="#intakeMenu">
                Assessments
            </a>
        </div>
        <div id="intakeMenu" class="panel-collapse collapse">
            <div class="panel-body">
                Test Text.
            </div>
        </div>
    </div> <!-- SERVICE PLANS MENU -->

    <div class="panel panel-default">
        <div class="menu-heading panel-heading">
            <a class="menu-item panel-header" data-toggle="collapse" data-parent="#accordion" href="#intakeMenu">
                Admissions
            </a>
        </div>
        <div id="intakeMenu" class="panel-collapse collapse">
            <div class="panel-body">
                Test Text.
            </div>
        </div>
    </div> <!-- PROGRESS MENU -->

    <div class="panel panel-default">
        <div class="menu-heading panel-heading">
            <a class="menu-item panel-header" data-toggle="collapse" data-parent="#accordion" href="#intakeMenu">
                Progress Notes
            </a>
        </div>
        <div id="intakeMenu" class="panel-collapse collapse">
            <div class="panel-body">
                Test Text.
            </div>
        </div>
    </div> <!-- INCIDENTS MENU -->

    <div class="panel panel-default">
        <div class="menu-heading panel-heading">
            <a class="menu-item panel-header" data-toggle="collapse" data-parent="#accordion" href="#intakeMenu">
                Individualized Action Plans
            </a>
        </div>
        <div id="intakeMenu" class="panel-collapse collapse">
            <div class="panel-body">
                Test Text.
            </div>
        </div>
    </div> <!-- REVIEWS MENU -->

    <div class="panel panel-default">
        <div class="menu-heading panel-heading">
            <a class="menu-item panel-header" data-toggle="collapse" data-parent="#accordion" href="#intakeMenu">
                Attendance
            </a>
        </div>
        <div id="intakeMenu" class="panel-collapse collapse">
            <div class="panel-body">
                Test Text.
            </div>
        </div>
    </div> <!-- HOSPITALIZATIONS MENU -->

    <div class="panel panel-default">
        <div class="menu-heading panel-heading">
            <a class="menu-item panel-header" data-toggle="collapse" data-parent="#accordion" href="#intakeMenu">
                Hospitalizations and Leaves
            </a>
        </div>
        <div id="intakeMenu" class="panel-collapse collapse">
            <div class="panel-body">
                Test Text.
            </div>
        </div>
    </div> <!-- DISCHARGES MENU -->

    <div class="panel panel-default">
        <div class="menu-heading panel-heading">
            <a class="menu-item panel-header" data-toggle="collapse" data-parent="#accordion" href="#intakeMenu">
                Incidents
            </a>
        </div>
        <div id="intakeMenu" class="panel-collapse collapse">
            <div class="panel-body">
                Test Text.
            </div>
        </div>
    </div> <!-- ATTENDANCE MENU -->

    <div class="panel panel-default">
        <div class="menu-heading panel-heading">
            <a class="menu-item panel-header" data-toggle="collapse" data-parent="#accordion" href="#intakeMenu">
                Review
            </a>
        </div>
        <div id="intakeMenu" class="panel-collapse collapse">
            <div class="panel-body">
                Test Text.
            </div>
        </div>
    </div> <!-- BILLING MENU -->

    <div class="panel panel-default">
        <div class="menu-heading panel-heading">
            <a class="menu-item panel-header" data-toggle="collapse" data-parent="#accordion" href="#intakeMenu">
                Authorizations
            </a>
        </div>
        <div id="intakeMenu" class="panel-collapse collapse">
            <div class="panel-body">
                Test Text.
            </div>
        </div>
    </div> <!-- ASSESSMENTS MENU -->

</div>